
# Project Configuration
{%- set REGION = env['REGION']|default('australia-southeast1') -%}
{%- set PROJECT_ID = env['PROJECT_ID']|default('dataplex-demo-342803') -%}
{%- set PROJECT_NAME = env['PROJECT_NAME']|default('dataplex-demo') -%}
{%- set PATH_TO_PRIVATE_KEY = env['PATH_TO_PRIVATE_KEY']|default('/Users/szanevra/Downloads/dataplex-demo-342803-e2b0cc499e2a.json') -%}
{%- set ENVIRONMENT = env['ENVIRONMENT']|default('dev') -%}

gcp_project_name: {{PROJECT_NAME}}
gcp_path_to_private_key: {{PATH_TO_PRIVATE_KEY}}
gcp_region: {{REGION}}
gcp_project_id: {{PROJECT_ID}}

application_environment: {{ENVIRONMENT}}
application_name: 'gcp-release-notes-app'

